@media (max-width:390px) {
.bizness{
    .cards{
        display: block;
    }
}
.boxes{
    display: block !important;
}
.innovation{
.texts{
    p{
        width: 261px;
    }
    .img{
        margin-left: 232px;
        margin-top: -641px;
        width: 479px;
    }
}
}
.mounts{
    .value-cards{
        display: block;
    }
}
.valyuta-cards{
    display: block !important;
    .valyuta-card{
        margin-top: 100px;
    }
}
}