.pasa{
    margin-top: 150px;
    margin-left: 100px;

    h2{
        font-size: 25px;
        width: 780px;
    }
    h4{
        width: 560px;
    }
    .imgs{
        display: grid;
        img{
            margin-top: 20px;
            width: 250px;
        }
    }
     .qrcode{
        img{
            margin-left: 284px;
    width: 161px;
    margin-top: -188px;
        }
     }
}