.kredit-online{
    margin-top: 200px;
    h1{
        font-size: 50px;
    }
h4{
    font-size: 20px;
    margin-left: 50px;
    font-weight: 500px;
    color: gray;
}
.kredit-cards{
    margin-left: 50px;
    width: 1550px;
    border-radius: 10px;
    height: 520px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
h2{
    margin-left: 50px;
    padding-top: 30px;
    font-size: 40px;
}
h4{
    font-size: 20px;
    margin-left: 50px;
    font-weight: 500;
    color: gray;
}
.kredit-online-card{
   display: flex;
   margin-top: -37px;
   img{
    width: 35%;
    margin-left: 103px;
    margin-top: -241px;
   }
    .kredit-card{
        h3{
            font-size: 30px;
            font-weight: 500;
            margin-left: 50px;
        }
        h4{
            margin-top: -15px;
        }
        button{
            // margin-left: -450px;
            font-size: 25px;
            width: 180px;
            height: 55px;
            margin-top: -100px;
            background-color: white;
            color:#099a71;
            border: none;
        }
        .first-button{
          
            button{
                margin-top: 50px;
             
                margin-left: -450px;
                background-color: #099a71;
                color: white;
                border: none;
            }
        }

        
      
        
     
    }
    .kredit-card:nth-child(2){
        margin-left: 250px;
    }
}
.kredit-online-card:nth-child(2){
    .kredit-card{
        margin-top: 400px;
    }
}
}
}