.innovation{
    margin-top: 165px;
   .texts{
    margin-left: 100px;
    h2{
        font-size: 32px;
        line-height: 48px;
        letter-spacing: .25px;
        width: 700px;
        margin-bottom: 40px;
    }
    h5{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
    p{
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.5px;
        width: 318px;
    }
   }
}