.valyutas {
    background-color: whitesmoke;
    margin-top: 100px;
    margin-left: 100px;

    .valyuta-cards {
        display: flex;
        margin-top: 50px;

        .valyuta-card {
            width: 700px;
            height: 320px;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            .valyuta {
                display: flex;
                margin-left: 40px;
                margin-top: 15px;

                h4 {
                    margin-left: 200px;
                    font-size: 20px;
                    margin-top: 10px;
                }
                h5{
                    margin-left: 200px;
                    font-size: 20px;
                    margin-top: 10px;
                }

                h3{
                    font-size: 20px;
                    margin-top: 10px;
                }
            }

            .value-val{
                display: flex;
                margin-left: 30px;
                img{
                    width: 75px;
                    margin-top: 0px;
                    margin-left: 10px;
                }
                h2{
                    margin-left: 130px;
                    font-size: 30px;
                     margin-top: 30px;
                }
                h3{
                margin-left: 110px;
                font-size: 30px;
                margin-top: 30px;
                }
                h4{
                    font-size: 30px;
                    margin-top: 30px;

                }
            }
        }
        .valyuta-card:nth-child(2){
            margin-left: 50px;
        }
    }
    .value-button{
        button{

            margin-top: 40px;
            font-size: 17px;
            border: none;
            background-color: white;
            color: #099a71;
        }
    }
    .news{
        margin-top: 80px;
    }
    .news-pasa{
        display: flex;

        .new-pasa{
            width: 350px;
            margin-left: 50px;
            h4{
                margin-left: 5px;
            }
            a{
                width: 200px;
                font-size: 20px;
                color: black;
            }
            a:hover{
                color: #099a71;
                transition: 0.5s;
            }
        }
    }
    .most-value{
        button{
            margin-top: 50px;
            margin-left: 50px;
            border: none;
            font-size: 20px;
            background-color: white;
            color: #099a71;
        }
    }
}